html, body {
  height: 100%;
  width: 100%;
  background-color: 224, 177, 203;
  color: 35, 25, 66; 
}

body > h2 {
  color: 35, 25, 66;
}

header {
  margin-bottom: 40px;
}
footer {
  margin-top: 40px;
  text-align: center;
}
footer, header {
  color: 224, 177, 203;
  background-color: 159, 134, 192;
  padding: 10px;
}

p {
  font-size: 18px;
}

a:link    { color: pink;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: blue;  }

div {
  text-align: center;
  margin: auto;
  width: 400px;
}

img {
  width: 300px;
  margin-bottom: -10px;
}
